<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="card">
        <div class="card-header">
          Leaf Rake
        </div>
        <div class="card-body row">
            <div class="col-lg-2">
                Name:<br>
                Code:<br>
                Description:<br><br>
                Availability:<br>
                Price:<br>
                5 Star Rating:        
            </div>
            <div class="col-lg-4">
                Leaf Rake<br>
                GDN-0011<br>
                Leaf rake with 48-inch wooden<br>handle.<br>
                March 19,2016<br>
                $19.95<br>
                3.2
            </div>
            <div class="col-lg-6">
                <img src="assets\h1.jpg">
            </div>
        </div>
        <div class="card-footer">
                <i class="fa fa-arrow-left"></i> Back
        </div>
    </div>
</body>
</html>